# Model weights
*.pt
*.weights

# Dataset folders
datasets/
data/
smoke_dataset/

# YOLO output folders
runs/

# Videos
*.mp4
*.avi

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment files
venv/
.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log